:root{
	--my-grey: rgb(200, 200, 200);
	--flat-border: 1px solid #ccc;
	--width-pdf: calc(100vh / 297 * 210)
}

body{
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	height: 100vh;
	background-color: white;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	min-width: calc(1200px + var(--width-pdf))
}

#main{
	display: flex;
	flex-direction: column;
	min-width: 1200px;
	max-width: 1200px;
	border: var(--flat-border);
}

#header{
	display: flex;
	justify-content: space-evenly;
}

#header input {
	height: 30px;
	width: calc(100% - 150px);
	border: none;
	background-color: transparent;
	padding: 10px;
	font-size: 20px;
	outline: none;
  }

#header button {
	all: unset;
	display: flex;
  	align-items: center;
	justify-content: center;
	text-align: center;
	width: 180px;
	height: 100%;
	font-size: 35px;
}

#header button img{
	width: 30px;
}

#left img{
	transform: rotate(180deg);
}

#header button:hover {
	cursor: pointer;
	background-color: var(--my-grey);
}

#nav{
	display: flex;
	height:calc(100vh - 80px);
	border-top: var(--flat-border);
	border-bottom: var(--flat-border);
	min-width: 1200px;
	max-width: 1200px;
}

#options{
	display: flex;
	flex-direction: column;
	width: 200px;
	border-right: var(--flat-border);
}

#content{
	height:calc(100% - 32px);
	width: 1000px;
}

#content table{
	width: 100%;
	table-layout: auto;
}

#options{
	width: 200px;
}

#folder{
	width: max-content;
}

#options, #content{
	overflow-y: scroll;
	overflow-x: hidden;
	overflow-wrap: break-word;
}

#count{
	display: flex;
  	align-items: center;
	justify-content: center;
	text-align: center;
	min-height: 30px;
	max-height: 30px;
}

#options button{
	height: 40px;
	padding: 15px;
	width: auto;
}

#pdf{
	position: relative;
	min-width: 420px;
	min-height: 300px;
	height: calc(100vh-2px);
	width: var(--width-pdf);
	max-width: 1260px;
	max-height: 1800px;
	background-color: var(--my-grey);
	display: flex;
	justify-content: space-evenly;
    align-items: center;
	border: var(--flat-border);
}

#pdf-container{
	height: 100%;
	overflow: hidden;
}

#countPage{
	display: none;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

#pdf:hover #countPage{
	display: block;
}


.theme, .subtheme, .pdf-button{
	all: unset;
}

.current, .selected{
	background-color: var(--my-grey);
}

.theme{
	font-weight: bold;
	font-size: larger;
}

.theme:hover, .subtheme:hover, #content li:hover{
	background-color: var(--my-grey);
	cursor: pointer;
}

.subtheme{
	margin-left: 30px;
	padding-left: 20px;
	width: 150px;
	font-size: larger;
}

.hide{
	display: none;
}

tbody tr:hover{
	background-color: var(--my-grey);
	cursor: pointer;
}

th, td{
	text-align: start;
	padding: 10px;
}

th:nth-child(4){
	width: 150px;
	text-align: center;
	padding: 0;
}

.c0{
	min-width: 100px;
	max-width: 100px;
}

.c1{
	min-width: 420px;
	max-width: 420px;
}

.c2{
	min-width: 250px;
	max-width: 250px;
}

.c3{
	min-width: 150px;
	max-width: 150px;
	padding: 0;
	text-align: center;
}


canvas {
	height: 100%;
	min-height: 600px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.fallback-pdf{
	height: 100vh;
	min-height: 600px;
}

.pdf-button{
	position: absolute;
	height: 50vh;
	width: 150px;
	background-color: rgba(255, 255, 255, 0);
	text-align: center;
}

.pdf-button:hover img{
	opacity: 0.5;
	cursor: pointer;
}

.pdf-button img{
	width: 50%;
	opacity: 0.05;
}

#left{
	left: 0;	
}

#right{
	right: 0;
}

#pdf.float{
	position: absolute;
	left: 50%;
	top:0;
	transform: translate(-50%);
	overflow: scroll;
	height: 200%;
	width: 200%;
	min-height: 1200px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}